@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<style>
    .nav-pills .nav-item {
        margin-bottom: 10px;
    }

    .nav-pills .nav-link {
        padding: 10px 15px;
        border-radius: 10px;
        transition: background-color 0.3s;
        font-family: Arial, sans-serif;
    }

        .nav-pills .nav-link:hover {
            background-color: #f0f0f0;
        }

        .nav-pills .nav-link.active {
            background-color: #007bff;
            color: #ffffff;
        }

        .nav-pills .nav-link i {
            margin-right: 10px;
        }
</style>

<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">
         Profile
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">
           Email
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">
           Password
        </a>
    </li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item">
            <a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">
                <i class="fas fa-external-link-alt"></i> External logins
            </a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">
            <i class="fas fa-user-cog"></i> Personal data
        </a>
    </li>
</ul>